.container{
    height: 85%;
}
.sidenav{
    background-color: rgba(127, 57, 207, 0.753);
}

a{
    color: rgb(241, 239, 239);    
}

.material-icons{
    color: rgb(53, 11, 100);
}

i{
    padding-right: .6rem;
}
